.login-form {
	min-width: 300px;
	max-width: 300px;
	background-color: white;
	padding: 20px;
}

.login-form-forgot {
	float: right;
}

.login-form-button {
	width: 100%;
}

.login-page {
	display: flex;
	justify-content: center;
	margin-top: 20vh;
}

#error {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	color: red;
	font-size: 15px;
}
