.login-form {
    min-width: 300px;
    background-color: white;
    padding: 20px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.login-page {
    padding: 10% 42%;
}

#error {
    margin: 0;
    padding: 0;
    color: red;
    font-size: 15px
}