@import '../../node_modules/antd/dist/antd.css';
@import './components/login';

body {
	background-color: #10101010;
}

.loading {
	height: 60vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;

	i {
		font-size: 72px;
	}
}

.main_loading {
	height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-layout-header {
	height: 46px;
	padding: 0 20px;
}

.ant-form-item {
	margin-bottom: 10px
}